body{
	font-family: 'Roboto', sans-serif;
	background-color: #EFEFEF;
	font-size: 14px;
}
.wrapper{
	max-width: 1110px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.nav{
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding: 4px 0;
}
.nav>li{
	margin-left: 15px;
	margin-right: 15px;
}
.nav>li>a{
	text-decoration: none;
	color: #333333;
}
.header{
	background-color: white;
	padding-top: 10px;
}
.header-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0 12px 0;
}
.logo{
	color: #66C05D;
	font-size: 36px;
	font-weight: 700;	
	display: flex;
	align-items: center;
	letter-spacing: 4px;
}
.header-info span{
	font-size: 16px;
}
.header-info button{
	font-size: 14px;
	border-radius: 20px;
	background-color: transparent;
	border: 2px solid #66C05D;
	padding: 10px 25px;
	margin-left: 36px;
	cursor: pointer;
}
.header-info button:hover{
	background-color: #66C05D;
}
.header-bottom{
	padding: 20px 0 25px 0;
}
.header-bottom .nav{
	font-size: 16px;
	margin: 0;
}
hr{
	border: none;
	background-color: #EFEFEF;
	height: 1px;
}
.banner{
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 160px;
	padding-bottom: 205px;
	color: white;
}
.title{
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 42px;
}
.title-h2{
	font-size: 24px;
	font-weight: 700;
}
.banner p{
	margin-bottom: 58px;
	min-width: 315px;
	line-height: 1.5;
}
.btn{
	color: white;
	text-decoration: none;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid white;
	padding: 10px 15px;
}
.logo-image{
	display: block;
	width: 80px;
	height: 80px;
	background-image: url(../img/logo.svg);
	margin-right: 20px;
}
.btn:hover{
	background-color: #fff;
	color: #333333;
}
.bg-white{
	background-color: #fff;
}
.bg-green{
	background-color: #66C05D;
	color: #fff;
	padding: 27px 41px;
	display: flex;
	justify-content: space-between;
}

.bg-green-img{
	text-align: center;
	flex: 0 0 40%;
}
.bg-green h3{
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 23px;
}
.bg-green p{
	line-height: 1.5;
	margin-bottom: 24px;
}
.bg-green input{
	font-size: 14px;
	border: 1px solid white;
	border-radius: 20px;
	padding: 9px 15px;
	width: 100%;
	max-width: 225px;
	box-sizing: border-box;
}
.bg-green .btn{
	display: block;
	text-align: center;
	max-width: 165px;
	padding: 9px 0;
}
.catalog{
	padding-top: 100px;
}
.grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 19px 30px;
}
.grid-item-title{
	grid-column: 1/4;
	grid-row: 1/2;
}
.grid-item-img{
	grid-column:4/5;
	grid-row: 1/2;
	text-align: center;
}
.grid-item-left{
	grid-column:1/3;
	grid-row: 3/4;
	margin-top: 80px;
}
.grid-item-right{
	grid-column:3/5;
	grid-row: 3/4;
	margin-top: 120px;
}
.grid-item-catalog{
	text-align: center;
}
.grid-item-catalog .bg-white{
	padding: 15px 30px;
}
.grid-price{
	 font-size: 21px;
	 font-weight: 500;
}
.grid-btn{
	border-radius: 20px;
	background-color: #66C05D;
	border: 2px solid #66C05D;
	padding: 10px 25px;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}
.footer-info span{
	font-size: 16px;
	margin-left: 36px;
}
.footer-info button{
	font-size: 14px;
	border-radius: 20px;
	background-color: transparent;
	border: 2px solid #66C05D;
	padding: 10px 25px;
	margin-left: 36px;
	cursor: pointer;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	color: #828282;
	padding: 15px 0;
}
.footer-bottom p{
	margin: 0;
}
.footer-bottom a{
	color: #828282;
	text-decoration: none;
}
.footer-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 25px;
}
.footer-info{
	margin-bottom: 20px;
}
.social-item{
	margin-right: 20px;
}
.social-item:last-child{
	margin-right: 0;
}
.social-youtube{
	background-repeat: no-repeat;
	background-image: url(../img/yty.svg);
}
.social-fb{
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
}
.social-vk{
	background-image: url(../img/vk.svg);
	background-repeat: no-repeat;
}
.social-instagram{
	background-image: url(../img/instagram.svg);
	background-repeat: no-repeat;
}
.social{
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
}
.social-link{
	display: block;
	width: 45px;
	height: 45px;
	border: 2px solid #66C05D;
	border-radius: 100%;
	background-position: center center;
}
.footer-info button:hover{
	background-color: #66C05D;
}